<div class='bg-main-grey d-flex row'>
  <div class='opinions-page d-flex flex-column col-9'>
    <h1 class='text-center mt-4'>Edit Opinion</h1>
    <div class='d-flex justify-content-center'>
      <%= render 'form_edit', opinion: @opinion %>
    </div>
  </div>
  <div class='right-tab borderb-grey borderl-grey col-3'>    
    <div class='borderb-grey d-flex justify-content-center'>
      <div class='d-flex p-4 right-bold-txt color-light-grey'>
        <%= right_title %>
      </div>
    </div>
  </div>
</div>