<div class='bg-main-grey d-flex row w-75'>
  <div class='opinions-page d-flex flex-column col-12'>
    <h1 class='text-center mt-4'>Edit Opinion</h1>
    <div class='d-flex justify-content-center'>
      <%= form_edit_info(@opinion) %>
    </div>
  </div>
</div>