// Styles related to logos/images
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rounded-border {
  border-radius: 10px;
}

.logo {
  width: 45px;
  height: 45px;
  margin: 13px;
}

.logo-sm {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.profile-right {
  max-width: 90px;
  height: 90px;
}

.profile {
  width: 40%;
}

.cover-img {
  height: 200px;
  width: 100%;
}

.who-photo {
  width: 65px;
  height: 65px;
}

.timeline-photo {
  width: 60px;
  height: 60px;
  margin: 5px;
}
