// Styles related to showing opinions/central column on users/main page
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-bold-txt {
  font-weight: bold;
  color: #526478;
}

.central-links {
  border-bottom: 3px solid #51a2e4;
}

.username {
  font-size: 0.8em;
}

.copied-opi {
  font-size: 0.7em;
}

.form-label {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
  margin-bottom: 5px;
  margin-top: 10px;
}

.form-text {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
}

.error-sm {
  color: red;
  font-size: 0.7em;
}

.form-btn {
  background: #1b2a3e;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
  box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.17);
  border: 1px solid #162730;
  font-size: 15px;
}

.form-btn:hover {
  background: #213346;
  -moz-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.28);
  box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.28);
  text-decoration: none;
  color: #fff;
}

.field_with_errors {
  input {
    border: solid 1px red;
  }

  label {
    color: red;
  }
}

.text-blue-bold {
  color: #51a2e4;
  font-size: 1.2em;
  font-weight: bold;
}

.edit-opinion {
  width: 12px;
  height: 12px;
}

.textdec-none:hover {
  text-decoration: none;
}
